# Extra material for working with Pandas and DataFrames

In [9]:
import numpy as np
import pandas as pd

In [10]:
# Example with at small, selfmade DataFrame

df = pd.DataFrame(np.arange(20).reshape(4,5), columns=['A', 'B', 'C', 'D', 'E'])

df

    A   B   C   D   E
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [11]:
# Create new variable

df['B/E'] = (df['B']/df['E'])
df.head()

    A   B   C   D   E       B/E
0   0   1   2   3   4  0.250000
1   5   6   7   8   9  0.666667
2  10  11  12  13  14  0.785714
3  15  16  17  18  19  0.842105