In [24]:
import numpy as np
import matplotlib.pyplot as plt

import pandas as pd
from dstapi import DstApi # install with `pip install git+https://github.com/alemartinello/dstapi`

In [37]:
file = 'EDP2.csv'
df = pd.read_csv(file, encoding='latin-1') # skiprows=2, sep = ','

df

   Offentligt underskud og gæld i EU-landene efter enhed   funktion   land
0                                              og tid           NaN    NaN
1    ," "," ","2000","2001","2002","2003","2004","...           NaN    NaN
2                          Mio. Euro (løbende priser)           NaN    NaN
3                  ,"Offentlig bruttogæld (ØMU-gæld)"           NaN    NaN
4    ," ","Belgien",280959.5,286055.5,288110.8,285...           NaN    NaN
5    ," ","Bulgarien",10177.1,10269.8,8890.3,8126....           NaN    NaN
6    ," ","Cypern",6024.5,6660.9,7339.8,8184.8,905...           NaN    NaN
7    ," ","Danmark",93084.0,89464.7,93174.5,89061....           NaN    NaN
8    ," ","Estland",315.6,333.4,442.9,489.7,499.9,...           NaN    NaN
9    ," ","Finland",61564.0,62825.0,63299.0,68508....           NaN    NaN
10   ," ","Frankrig",870626.0,897446.0,956794.0,10...           NaN    NaN
11   ," ","Grækenland",148217.0,162971.0,171410.0,...           NaN    NaN
12   ," ","Irland",39494.0,40969.2,41987.4,43409.3...           NaN    NaN
13   ," ","Italien",1353569.3,1420026.6,1436141.8,...           NaN    NaN
14   ," ","Kroatien",8441.0,9661.3,10397.5,11622.3...           NaN    NaN
15   ," ","Letland",1011.0,1304.4,1251.5,1410.2,16...           NaN    NaN
16   ," ","Litauen",2912.1,3185.2,3365.7,3395.1,34...           NaN    NaN
17   ," ","Luxembourg",1722.6,1820.4,1862.8,1949.9...           NaN    NaN
18   ," ","Malta",2654.0,2989.2,2927.3,3267.4,3449...           NaN    NaN
19   ," ","Nederlandene",235879.0,238681.0,244916....           NaN    NaN
20   ," ","Polen",70735.4,83306.4,84224.1,83894.0,...           NaN    NaN
21   ," ","Portugal",69591.8,77908.0,85594.9,93333...           NaN    NaN
22   ," ","Rumænien",7532.8,10917.2,10757.1,10309....           NaN    NaN
23   ," ","Slovakiet",10953.5,12369.5,12274.1,1312...           NaN    NaN
24   ," ","Slovenien",5483.6,6035.5,6707.8,6943.8,...           NaN    NaN
25   ," ","Spanien",374557.0,378883.0,384145.0,382...           NaN    NaN
26   ," ","Sverige",137290.4,139698.4,141390.6,146...           NaN    NaN
27   ," ","Tjekkiet",11567.8,18322.2,22013.9,24530...           NaN    NaN
28   ," ","Tyskland",1251530.5,1264266.9,1317679.6...           NaN    NaN
29   ," ","Ungarn",28008.4,32818.1,41007.4,42348.3...           NaN    NaN
30   ," ","¯strig",141245.5,147154.2,151295.9,1526...           NaN    NaN

In [35]:
# Read and store content 
# of an excel file 

file = 'EDP3.xlsx'
dt = pd.read_excel(file, skiprows=[1]) # encoding='latin-1') # skiprows=2, sep = ','

In [38]:
dt

,"Offentligt underskud og gæld i EU-landene efter enhed, funktion, land og tid",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,NaN,NaN,NaN,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
1,Mio. Euro (løbende priser),Offentlig bruttogæld (ØMU-gæld),Belgien,280959.5,286055.5,288110.8,285866.7,288418.8,294975.3,297494.9,...,414432.4,431384.3,438504.8,451619.9,454048.4,459388.5,467249.4,515211.9,548456.4,578063.2
2,NaN,NaN,Bulgarien,10177.1,10269.8,8890.3,8126.5,7526.2,6388.6,5721.0,...,7147.6,11619.3,11871.6,14188.1,13182.6,12427.2,12311.1,15131.7,17013.2,19352.9
3,NaN,NaN,Cypern,6024.5,6660.9,7339.8,8184.8,9055.9,9595.9,9597.7,...,18706.5,19013.8,19296.8,19631.5,18935.6,21343.9,21565.9,25388.1,24744.7,23767.3
4,NaN,NaN,Danmark,93084.0,89464.7,93174.5,89061.4,89394.7,79532.5,71183.3,...,113943.4,117801.4,108532.4,105450.1,105727.0,102597.3,104187.6,131859.7,123539.1,113586.0
5,NaN,NaN,Estland,315.6,333.4,442.9,489.7,499.9,533.1,628.1,...,1934.2,2129.9,2077.4,2174.1,2174.0,2127.4,2373.4,5094.4,5533.5,6657.4
6,NaN,NaN,Finland,61564.0,62825.0,63299.0,68508.0,71335.0,69397.0,69532.0,...,123726.0,133359.1,144443.0,147963.0,149457.0,151384.0,155613.0,177906.0,181944.0,196878.0
7,NaN,NaN,Frankrig,870626.0,897446.0,956794.0,1050356.0,1123615.0,1189919.0,1194106.0,...,1977734.0,2039884.0,2101255.0,2188481.0,2254331.0,2310877.0,2374942.0,2657352.0,2823692.0,2949331.0
8,NaN,NaN,Grækenland,148217.0,162971.0,171410.0,181510.0,199282.0,213976.0,225730.0,...,320498.0,319629.0,311729.0,315012.0,317481.0,334721.0,331144.0,341588.0,353848.0,356597.0
9,NaN,NaN,Irland,39494.0,40969.2,41987.4,43409.3,43888.9,44371.3,43723.8,...,215241.6,203381.6,201673.9,200635.0,201262.0,205847.5,203382.8,217884.8,236127.2,224760.6
10,NaN,NaN,Italien,1353569.3,1420026.6,1436141.8,1471325.7,1526400.5,1591580.6,1657334.2,...,2136229.5,2202999.1,2239409.8,2285705.0,2329931.7,2381640.4,2410322.8,2573538.9,2679901.4,2757547.4
11,NaN,NaN,Kroatien,8441.0,9661.3,10397.5,11622.3,13210.7,15124.7,15534.8,...,35386.3,36741.7,37534.5,37575.8,38365.9,38664.6,39415.7,43780.8,45743.6,46334.0
12,NaN,NaN,Letland,1011.0,1304.4,1251.5,1410.2,1628.6,1638.8,1736.5,...,9172.0,9817.9,9089.1,10224.1,10492.6,10784.0,11209.1,12710.6,14688.4,15948.2
13,NaN,NaN,Litauen,2912.1,3185.2,3365.7,3395.1,3404.5,3701.9,4151.9,...,13550.8,14827.6,15880.8,15446.7,16540.3,15321.7,17526.1,23062.5,24535.5,25672.4
14,NaN,NaN,Luxembourg,1722.6,1820.4,1862.8,1949.9,2207.2,2407.4,2804.1,...,10997.5,11316.6,11432.2,11010.3,12675.5,12567.6,13960.9,15875.8,17731.2,19175.3
15,NaN,NaN,Malta,2654.0,2989.2,2927.3,3267.4,3449.6,3606.4,3472.9,...,5278.4,5433.3,5623.1,5769.7,5705.4,5662.1,5720.3,6974.7,8263.9,9000.5
16,NaN,NaN,Nederlandene,235879.0,238681.0,244916.0,256483.0,266332.0,274277.0,264157.0,...,447082.0,455886.0,446144.0,438532.0,420440.0,405899.0,394825.0,435475.0,449659.0,480548.0
17,NaN,NaN,Polen,70735.4,83306.4,84224.1,83894.0,103059.1,119592.0,131958.8,...,224119.6,204509.3,216566.3,229014.4,241130.0,240804.6,245729.6,293124.1,306839.2,323054.6
18,NaN,NaN,Portugal,69591.8,77908.0,85594.9,93333.4,102157.9,114552.9,122499.7,...,224077.6,230058.8,235746.1,245244.8,247174.5,249260.5,249977.5,270494.9,269089.0,272435.3
19,NaN,NaN,Rumænien,7532.8,10917.2,10757.1,10309.5,11768.7,12397.6,12585.6,...,53429.3,58489.2,59494.1,62788.8,64555.9,70848.4,78095.7,102630.3,116641.9,134469.0
20,NaN,NaN,Slovakiet,10953.5,12369.5,12274.1,13125.0,14977.1,13945.3,15496.2,...,40742.0,40844.0,41413.4,42481.3,43572.4,44405.3,45305.6,54992.9,61237.8,63378.0
21,NaN,NaN,Slovenien,5483.6,6035.5,6707.8,6943.8,7427.5,7690.1,8201.5,...,25520.1,30219.9,32087.4,31756.0,31893.0,32246.3,31752.4,37424.3,38878.5,41241.6
22,NaN,NaN,Spanien,374557.0,378883.0,384145.0,382775.0,389888.0,393479.0,392132.0,...,1025655.0,1084846.0,1113661.0,1145050.0,1183412.0,1208861.0,1223355.0,1345786.0,1428133.0,1502804.0
23,NaN,NaN,Sverige,137290.4,139698.4,141390.6,146709.7,152019.2,152005.1,150536.4,...,173692.4,191307.6,202759.8,195264.7,194607.1,186321.6,171978.5,200526.7,195204.5,176776.5
24,NaN,NaN,Tjekkiet,11567.8,18322.2,22013.9,24530.7,28673.0,31385.6,35405.0,...,67096.2,65581.0,67943.9,64939.8,68520.7,67431.3,68492.7,81922.9,103255.7,124299.8
25,NaN,NaN,Tyskland,1251530.5,1264266.9,1317679.6,1405194.6,1475183.2,1545669.5,1595311.5,...,2201917.7,2203742.6,2177230.8,2161570.5,2130325.0,2083675.3,2069889.2,2340848.9,2495538.2,2561675.4
26,NaN,NaN,Ungarn,28008.4,32818.1,41007.4,42348.3,50505.1,54075.6,62298.8,...,78882.3,79575.8,83833.8,87470.1,91265.8,93372.4,94233.4,105468.0,114630.7,121820.6
27,NaN,NaN,Østrig,141245.5,147154.2,151295.9,152688.1,157985.4,174403.5,180270.0,...,263229.5,280001.0,292264.6,296244.5,289951.3,285421.8,280540.4,315980.9,334284.0,350698.4

In [39]:
# Write the dataframe object 
# into csv file 
dt.to_csv('Test.csv', index=None, header=True)
dt = pd.DataFrame(pd.read_csv("Test.csv")) 
  
# show the dataframe 
dt

,"Offentligt underskud og gæld i EU-landene efter enhed, funktion, land og tid",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,NaN,NaN,NaN,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
1,Mio. Euro (løbende priser),Offentlig bruttogæld (ØMU-gæld),Belgien,280959.5,286055.5,288110.8,285866.7,288418.8,294975.3,297494.9,...,414432.4,431384.3,438504.8,451619.9,454048.4,459388.5,467249.4,515211.9,548456.4,578063.2
2,NaN,NaN,Bulgarien,10177.1,10269.8,8890.3,8126.5,7526.2,6388.6,5721.0,...,7147.6,11619.3,11871.6,14188.1,13182.6,12427.2,12311.1,15131.7,17013.2,19352.9
3,NaN,NaN,Cypern,6024.5,6660.9,7339.8,8184.8,9055.9,9595.9,9597.7,...,18706.5,19013.8,19296.8,19631.5,18935.6,21343.9,21565.9,25388.1,24744.7,23767.3
4,NaN,NaN,Danmark,93084.0,89464.7,93174.5,89061.4,89394.7,79532.5,71183.3,...,113943.4,117801.4,108532.4,105450.1,105727.0,102597.3,104187.6,131859.7,123539.1,113586.0
5,NaN,NaN,Estland,315.6,333.4,442.9,489.7,499.9,533.1,628.1,...,1934.2,2129.9,2077.4,2174.1,2174.0,2127.4,2373.4,5094.4,5533.5,6657.4
6,NaN,NaN,Finland,61564.0,62825.0,63299.0,68508.0,71335.0,69397.0,69532.0,...,123726.0,133359.1,144443.0,147963.0,149457.0,151384.0,155613.0,177906.0,181944.0,196878.0
7,NaN,NaN,Frankrig,870626.0,897446.0,956794.0,1050356.0,1123615.0,1189919.0,1194106.0,...,1977734.0,2039884.0,2101255.0,2188481.0,2254331.0,2310877.0,2374942.0,2657352.0,2823692.0,2949331.0
8,NaN,NaN,Grækenland,148217.0,162971.0,171410.0,181510.0,199282.0,213976.0,225730.0,...,320498.0,319629.0,311729.0,315012.0,317481.0,334721.0,331144.0,341588.0,353848.0,356597.0
9,NaN,NaN,Irland,39494.0,40969.2,41987.4,43409.3,43888.9,44371.3,43723.8,...,215241.6,203381.6,201673.9,200635.0,201262.0,205847.5,203382.8,217884.8,236127.2,224760.6
10,NaN,NaN,Italien,1353569.3,1420026.6,1436141.8,1471325.7,1526400.5,1591580.6,1657334.2,...,2136229.5,2202999.1,2239409.8,2285705.0,2329931.7,2381640.4,2410322.8,2573538.9,2679901.4,2757547.4
11,NaN,NaN,Kroatien,8441.0,9661.3,10397.5,11622.3,13210.7,15124.7,15534.8,...,35386.3,36741.7,37534.5,37575.8,38365.9,38664.6,39415.7,43780.8,45743.6,46334.0
12,NaN,NaN,Letland,1011.0,1304.4,1251.5,1410.2,1628.6,1638.8,1736.5,...,9172.0,9817.9,9089.1,10224.1,10492.6,10784.0,11209.1,12710.6,14688.4,15948.2
13,NaN,NaN,Litauen,2912.1,3185.2,3365.7,3395.1,3404.5,3701.9,4151.9,...,13550.8,14827.6,15880.8,15446.7,16540.3,15321.7,17526.1,23062.5,24535.5,25672.4
14,NaN,NaN,Luxembourg,1722.6,1820.4,1862.8,1949.9,2207.2,2407.4,2804.1,...,10997.5,11316.6,11432.2,11010.3,12675.5,12567.6,13960.9,15875.8,17731.2,19175.3
15,NaN,NaN,Malta,2654.0,2989.2,2927.3,3267.4,3449.6,3606.4,3472.9,...,5278.4,5433.3,5623.1,5769.7,5705.4,5662.1,5720.3,6974.7,8263.9,9000.5
16,NaN,NaN,Nederlandene,235879.0,238681.0,244916.0,256483.0,266332.0,274277.0,264157.0,...,447082.0,455886.0,446144.0,438532.0,420440.0,405899.0,394825.0,435475.0,449659.0,480548.0
17,NaN,NaN,Polen,70735.4,83306.4,84224.1,83894.0,103059.1,119592.0,131958.8,...,224119.6,204509.3,216566.3,229014.4,241130.0,240804.6,245729.6,293124.1,306839.2,323054.6
18,NaN,NaN,Portugal,69591.8,77908.0,85594.9,93333.4,102157.9,114552.9,122499.7,...,224077.6,230058.8,235746.1,245244.8,247174.5,249260.5,249977.5,270494.9,269089.0,272435.3
19,NaN,NaN,Rumænien,7532.8,10917.2,10757.1,10309.5,11768.7,12397.6,12585.6,...,53429.3,58489.2,59494.1,62788.8,64555.9,70848.4,78095.7,102630.3,116641.9,134469.0
20,NaN,NaN,Slovakiet,10953.5,12369.5,12274.1,13125.0,14977.1,13945.3,15496.2,...,40742.0,40844.0,41413.4,42481.3,43572.4,44405.3,45305.6,54992.9,61237.8,63378.0
21,NaN,NaN,Slovenien,5483.6,6035.5,6707.8,6943.8,7427.5,7690.1,8201.5,...,25520.1,30219.9,32087.4,31756.0,31893.0,32246.3,31752.4,37424.3,38878.5,41241.6
22,NaN,NaN,Spanien,374557.0,378883.0,384145.0,382775.0,389888.0,393479.0,392132.0,...,1025655.0,1084846.0,1113661.0,1145050.0,1183412.0,1208861.0,1223355.0,1345786.0,1428133.0,1502804.0
23,NaN,NaN,Sverige,137290.4,139698.4,141390.6,146709.7,152019.2,152005.1,150536.4,...,173692.4,191307.6,202759.8,195264.7,194607.1,186321.6,171978.5,200526.7,195204.5,176776.5
24,NaN,NaN,Tjekkiet,11567.8,18322.2,22013.9,24530.7,28673.0,31385.6,35405.0,...,67096.2,65581.0,67943.9,64939.8,68520.7,67431.3,68492.7,81922.9,103255.7,124299.8
25,NaN,NaN,Tyskland,1251530.5,1264266.9,1317679.6,1405194.6,1475183.2,1545669.5,1595311.5,...,2201917.7,2203742.6,2177230.8,2161570.5,2130325.0,2083675.3,2069889.2,2340848.9,2495538.2,2561675.4
26,NaN,NaN,Ungarn,28008.4,32818.1,41007.4,42348.3,50505.1,54075.6,62298.8,...,78882.3,79575.8,83833.8,87470.1,91265.8,93372.4,94233.4,105468.0,114630.7,121820.6
27,NaN,NaN,Østrig,141245.5,147154.2,151295.9,152688.1,157985.4,174403.5,180270.0,...,263229.5,280001.0,292264.6,296244.5,289951.3,285421.8,280540.4,315980.9,334284.0,350698.4

In [40]:
d = pd.read_csv('Test.csv', encoding='latin-1') # skiprows=2, sep = ','

In [41]:
d

,"Offentligt underskud og gÃ¦ld i EU-landene efter enhed, funktion, land og tid",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,NaN,NaN,NaN,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
1,Mio. Euro (lÃ¸bende priser),Offentlig bruttogÃ¦ld (ÃMU-gÃ¦ld),Belgien,280959.5,286055.5,288110.8,285866.7,288418.8,294975.3,297494.9,...,414432.4,431384.3,438504.8,451619.9,454048.4,459388.5,467249.4,515211.9,548456.4,578063.2
2,NaN,NaN,Bulgarien,10177.1,10269.8,8890.3,8126.5,7526.2,6388.6,5721.0,...,7147.6,11619.3,11871.6,14188.1,13182.6,12427.2,12311.1,15131.7,17013.2,19352.9
3,NaN,NaN,Cypern,6024.5,6660.9,7339.8,8184.8,9055.9,9595.9,9597.7,...,18706.5,19013.8,19296.8,19631.5,18935.6,21343.9,21565.9,25388.1,24744.7,23767.3
4,NaN,NaN,Danmark,93084.0,89464.7,93174.5,89061.4,89394.7,79532.5,71183.3,...,113943.4,117801.4,108532.4,105450.1,105727.0,102597.3,104187.6,131859.7,123539.1,113586.0
5,NaN,NaN,Estland,315.6,333.4,442.9,489.7,499.9,533.1,628.1,...,1934.2,2129.9,2077.4,2174.1,2174.0,2127.4,2373.4,5094.4,5533.5,6657.4
6,NaN,NaN,Finland,61564.0,62825.0,63299.0,68508.0,71335.0,69397.0,69532.0,...,123726.0,133359.1,144443.0,147963.0,149457.0,151384.0,155613.0,177906.0,181944.0,196878.0
7,NaN,NaN,Frankrig,870626.0,897446.0,956794.0,1050356.0,1123615.0,1189919.0,1194106.0,...,1977734.0,2039884.0,2101255.0,2188481.0,2254331.0,2310877.0,2374942.0,2657352.0,2823692.0,2949331.0
8,NaN,NaN,GrÃ¦kenland,148217.0,162971.0,171410.0,181510.0,199282.0,213976.0,225730.0,...,320498.0,319629.0,311729.0,315012.0,317481.0,334721.0,331144.0,341588.0,353848.0,356597.0
9,NaN,NaN,Irland,39494.0,40969.2,41987.4,43409.3,43888.9,44371.3,43723.8,...,215241.6,203381.6,201673.9,200635.0,201262.0,205847.5,203382.8,217884.8,236127.2,224760.6
10,NaN,NaN,Italien,1353569.3,1420026.6,1436141.8,1471325.7,1526400.5,1591580.6,1657334.2,...,2136229.5,2202999.1,2239409.8,2285705.0,2329931.7,2381640.4,2410322.8,2573538.9,2679901.4,2757547.4
11,NaN,NaN,Kroatien,8441.0,9661.3,10397.5,11622.3,13210.7,15124.7,15534.8,...,35386.3,36741.7,37534.5,37575.8,38365.9,38664.6,39415.7,43780.8,45743.6,46334.0
12,NaN,NaN,Letland,1011.0,1304.4,1251.5,1410.2,1628.6,1638.8,1736.5,...,9172.0,9817.9,9089.1,10224.1,10492.6,10784.0,11209.1,12710.6,14688.4,15948.2
13,NaN,NaN,Litauen,2912.1,3185.2,3365.7,3395.1,3404.5,3701.9,4151.9,...,13550.8,14827.6,15880.8,15446.7,16540.3,15321.7,17526.1,23062.5,24535.5,25672.4
14,NaN,NaN,Luxembourg,1722.6,1820.4,1862.8,1949.9,2207.2,2407.4,2804.1,...,10997.5,11316.6,11432.2,11010.3,12675.5,12567.6,13960.9,15875.8,17731.2,19175.3
15,NaN,NaN,Malta,2654.0,2989.2,2927.3,3267.4,3449.6,3606.4,3472.9,...,5278.4,5433.3,5623.1,5769.7,5705.4,5662.1,5720.3,6974.7,8263.9,9000.5
16,NaN,NaN,Nederlandene,235879.0,238681.0,244916.0,256483.0,266332.0,274277.0,264157.0,...,447082.0,455886.0,446144.0,438532.0,420440.0,405899.0,394825.0,435475.0,449659.0,480548.0
17,NaN,NaN,Polen,70735.4,83306.4,84224.1,83894.0,103059.1,119592.0,131958.8,...,224119.6,204509.3,216566.3,229014.4,241130.0,240804.6,245729.6,293124.1,306839.2,323054.6
18,NaN,NaN,Portugal,69591.8,77908.0,85594.9,93333.4,102157.9,114552.9,122499.7,...,224077.6,230058.8,235746.1,245244.8,247174.5,249260.5,249977.5,270494.9,269089.0,272435.3
19,NaN,NaN,RumÃ¦nien,7532.8,10917.2,10757.1,10309.5,11768.7,12397.6,12585.6,...,53429.3,58489.2,59494.1,62788.8,64555.9,70848.4,78095.7,102630.3,116641.9,134469.0
20,NaN,NaN,Slovakiet,10953.5,12369.5,12274.1,13125.0,14977.1,13945.3,15496.2,...,40742.0,40844.0,41413.4,42481.3,43572.4,44405.3,45305.6,54992.9,61237.8,63378.0
21,NaN,NaN,Slovenien,5483.6,6035.5,6707.8,6943.8,7427.5,7690.1,8201.5,...,25520.1,30219.9,32087.4,31756.0,31893.0,32246.3,31752.4,37424.3,38878.5,41241.6
22,NaN,NaN,Spanien,374557.0,378883.0,384145.0,382775.0,389888.0,393479.0,392132.0,...,1025655.0,1084846.0,1113661.0,1145050.0,1183412.0,1208861.0,1223355.0,1345786.0,1428133.0,1502804.0
23,NaN,NaN,Sverige,137290.4,139698.4,141390.6,146709.7,152019.2,152005.1,150536.4,...,173692.4,191307.6,202759.8,195264.7,194607.1,186321.6,171978.5,200526.7,195204.5,176776.5
24,NaN,NaN,Tjekkiet,11567.8,18322.2,22013.9,24530.7,28673.0,31385.6,35405.0,...,67096.2,65581.0,67943.9,64939.8,68520.7,67431.3,68492.7,81922.9,103255.7,124299.8
25,NaN,NaN,Tyskland,1251530.5,1264266.9,1317679.6,1405194.6,1475183.2,1545669.5,1595311.5,...,2201917.7,2203742.6,2177230.8,2161570.5,2130325.0,2083675.3,2069889.2,2340848.9,2495538.2,2561675.4
26,NaN,NaN,Ungarn,28008.4,32818.1,41007.4,42348.3,50505.1,54075.6,62298.8,...,78882.3,79575.8,83833.8,87470.1,91265.8,93372.4,94233.4,105468.0,114630.7,121820.6
27,NaN,NaN,Ãstrig,141245.5,147154.2,151295.9,152688.1,157985.4,174403.5,180270.0,...,263229.5,280001.0,292264.6,296244.5,289951.3,285421.8,280540.4,315980.9,334284.0,350698.4